.panel-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -98%);
  background-color: white;
  border: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.3em 0.3em 0 0;
  font-size: 1.2em;
  transition: top 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.panel-btn img {
  height: 1em;
  transform: rotate(180deg);
}

@media (min-width: 900px) {
  .panel-btn {
    display: none;
  }
}
