@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: IRANYekan;
  src: url(./IRANYekan/iranyekanwebregular.woff);
  font-weight: normal;
  unicode-range: U+0600-06FF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'IRANYekan', 'Roboto', sans-serif !important;
}
