@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: IRANYekan;
  src: url(./IRANYekan/iranyekanwebregular.woff);
  font-weight: normal;
  unicode-range: U+0600-06FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'IRANYekan', 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.panel {
  background-color: white;
  position: absolute;
  padding: 1rem;
  z-index: 100;
  overflow-y: auto;
  top: 100%;
  transition: top 0.5s;
  max-height: 45%;
  margin: 0 0.5em 0 0.5em;
}

.text-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container h1 {
  width: 50%;
}

.title-farsi,
.subtitle-farsi,
.content-text-fa,
.max-text {
  text-align: right;
}

.description-item {
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.accordion-title,
.description-title {
  cursor: pointer;
  display: flex;
  margin: 0 1em 0 1em;
  font-weight: 600;
}

.accordion-title div,
.description-title div {
  padding: 0.5em 0 0.5em 0;
  border-top: 1px solid rgb(100, 100, 100);
  /* border-bottom: 1px solid rgb(100, 100, 100); */
}

.description-content {
  margin: 0 1em 0 0;
}

.title {
  width: 100%;
}

#des-fa,
.deck-tooltip {
  direction: rtl;
}

#des-fa .description-content {
  margin: 0 0 0 1em;
}

.accordion-title:hover,
.description-title:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

.accordion-content {
  margin: 0 1em 1em 1em;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.top-text {
  width: 50%;
}

.bot-text {
  width: 33%;
}

.panel-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -98%);
  background-color: white;
  border: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.3em 0.3em 0 0;
  font-size: 1.2em;
  transition: top 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.panel-btn img {
  height: 1em;
  transform: rotate(180deg);
}

.watermark {
  background-color: rgba(0, 0, 0, 0.178);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0.2em;
}

@media (min-width: 900px) {
  .panel {
    width: 20%;
    right: 2%;
    top: 2%;
    max-height: 90%;
    transition: top 0s;
    margin: 0;
  }

  .panel-btn {
    display: none;
  }
}
